* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.form-wrapper {
    width: 300px;
    color: rgb(22, 22, 22);
} 

.form-wrapper .header {
    line-height: 200%;
}

.form-wrapper .bodier {
    line-height: 200%;
}

.form-wrapper .input-wrapper1 input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 25px;
}
.form-wrapper .input-wrapper2 input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 25px;
}

.form-wrapper .action {
    display: flex;
    justify-content: center;
}

.form-wrapper .action .btn {
    width: 60%;
    text-align: center;
    border: 2px solid #4aa0ca;
    background-color: #4aa0ca;
    border-radius: 10px;
    line-height: 150%;
    margin-top: 30px;
    color: #fff;
    
}
